<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Recipe Recommender {% endblock %}</title>
    <!-- Add your stylesheets or any other necessary head content here -->
</head>
<body>
    <div style="background-color: #3498db; padding: 10px; text-align: center; color: #fff;">
        <h1>AI-Enhanced Personalized Recipe Recommender</h1>
        <nav>
            <a href="/">Home</a> | 
            <!-- home.html -->
            {% if 'username' not in session %}
            <a href="{{ url_for('login') }}">Login</a> |
            <a href="{{ url_for('register') }}">Register</a>
            {% endif %}
            {% if 'username'  in session %}
            <a href="/profile">Profile</a> |
            <a href="/logout">Logout</a> 
            {% endif %}
        </nav>
    </div>
    {% block body %}{% endblock %}
    <!-- Add your footer or any other necessary body content here -->
</body>
</html>
